<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>
	<connectionStrings>
		<add name="mysql:replicator" connectionString="Server=rds-dev-message.cuqb1lmjd24e.us-east-1.rds.amazonaws.com;Database=rds_dev_message;Uid=replicator;Pwd=replicator;Convert Zero Datetime=True;Allow Zero Datetime=true;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<alias alias="Constants" type="WebMotors.Components.Replicator.Constants, WebMotors.Components.Replicator" />
		<alias alias="Proccess" type="WebMotors.Components.Replicator.IProccess, WebMotors.Components.Replicator" />
		<alias alias="MysqlProccess" type="WebMotors.Components.Replicator.Implementations.Proccess.MysqlProccess, WebMotors.Components.Replicator" />

		<alias alias="QueryAnalizer" type="WebMotors.Components.Replicator.QueryAnalizer, WebMotors.Components.Replicator" />
		<alias alias="UpdateAnalizer" type="WebMotors.Components.Replicator.Implementations.Analizers.UpdateAnalizer, WebMotors.Components.Replicator" />
		<alias alias="InsertAnalizer" type="WebMotors.Components.Replicator.Implementations.Analizers.InsertAnalizer, WebMotors.Components.Replicator" />
		<alias alias="DeleteAnalizer" type="WebMotors.Components.Replicator.Implementations.Analizers.DeleteAnalizer, WebMotors.Components.Replicator" />

		<alias alias="Replicator" type="WebMotors.Components.Replicator.IReplicator, WebMotors.Components.Replicator" />
		<alias alias="ElasticSearchReplicator" type="WebMotors.Components.Replicator.Implementations.Replicators.ElasticSearch, WebMotors.Components.Replicator" />

		<alias alias="CoreModel" type="WebMotors.Components.Replicator.CoreModel, WebMotors.Components.Replicator" />
		<alias alias="MysqlDefault" type="WebMotors.Components.Replicator.Implementations.Model.MysqlDefault, WebMotors.Components.Replicator" />

		<!--Add alias to your custom objects like your Constants implementation and custom tables-->
		<alias alias="Configuration" type="WebMotors.Components.Replicator.Tests.Configuration, WebMotors.Components.Replicator.Tests" />
		<alias alias="Client" type="WebMotors.Components.Replicator.Tests.Models.Client, WebMotors.Components.Replicator.Tests" />
		<container>
			<register type="Proccess" mapTo="MysqlProccess" name="mysql" />

			<register type="QueryAnalizer" mapTo="UpdateAnalizer" name="update" />
			<register type="QueryAnalizer" mapTo="InsertAnalizer" name="insert" />
			<register type="QueryAnalizer" mapTo="DeleteAnalizer" name="delete" />

			<register type="Replicator" mapTo="ElasticSearchReplicator" name="replicator" />
			<register type="CoreModel" mapTo="MysqlDefault" name="default" />

			<!--Add your custom objects in container like your Constants implementation and custom tables-->
			<register type="Constants" mapTo="Configuration" name="constants" />
			<register type="CoreModel" mapTo="Client" name="client" />
		</container>
	</unity>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<appSettings>
		<add key="proccess-type" value="mysql" />
		<add key="log-folder" value="C:\WebMotorsFontes\webmotors.chat\webmotors.etl.replicator\bin" />
		<add key="elastic-search-url" value="https://search-message-dev-twct66dq7i7xdestsqyhm4oaca.us-east-1.es.amazonaws.com/messages" />
		<add key="mysql-proccess-user" value="replicator[replicator] @  [189.2.157.34]" />
		<add key="migrate-data" value="Y" />
		<add key="connection-database-name" value="mysql:replicator" />
	</appSettings>
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
</configuration>